body {
  font: normal 9pt tahoma, lucida, helvetica, sansserif;
  margin-top: 0px;
  margin-left: 0px;
}

A {
  text-decoration: none
}

input, select, textarea {
  border-width: 1px;
  border-style: solid;
  border-color: #878eaf
}

.title {
  font: bold 12pt tahoma, lucida, helvetica, sansserif;
  text-transform: uppercase;
  text-align: right;
  color: #61667c
}

.msg_fail {
  font: bold 9pt tahoma, lucida, helvetica, sansserif;
  border-width: 1px;
  color: #505050;
  background: #e2ac7c;
  border-style: dotted;
  border-color: #a57d5b
}

.msg_ok {
  font: bold 9pt tahoma, lucida, helvetica, sansserif;
  border-width: 1px;
  color: #666666;
  background: #d4e0a6;
  border-style: dotted;
  border-color: #808764
}
.msg_warning {
  font: bold 9pt tahoma, lucida, helvetica, sansserif;
  border-width: 1px;
  color: #666666;
  background: #F0C60A;
  border-style: dotted;
  border-color: #808764
}
.title_box {
  font: bold 10pt tahoma, lucida, helvetica, sansserif;
  text-align: center;
  background: #878eaf;
  color: #ffffff
}

.title_box a {
  background: #878eaf;
  color: #ffffff;
  text-decoration: none;
}

.title_box a:hover {
  background: #878eaf;
  color: yellow;
}

.title_table {
  font: bold 10pt tahoma, lucida, helvetica, sansserif;
  text-align: center;
  background: #DCDCDC;
  color: #000000
}

.text_box {
  font: normal 9pt tahoma, lucida, helvetica, sansserif;
  background: #f0f0f9;
  color: #000000;
}

.text_data {
  font: normal 9pt tahoma, lucida, helvetica, sansserif;
  text-align: right;
  background: #f0f0f9;
  color: #000000;
}

.odd .text_data, .odd .text_result, .odd .text_percent {
  background: #f0f0f9;
}

.even .text_data, .even .text_result, .even .text_percent { 
  background: #d3e3d3;
}

.text_result {
  font: normal 9pt tahoma, lucida, helvetica, sansserif;
  text-align: right;
  background: #f0f0f9;
  color: #000000
}

.text_percent {
  font: normal 9pt tahoma, lucida, helvetica, sansserif;
  text-align: right;
  background: #f0f0f9;
  color: #FF0000
}

.text_box A {
  text-decoration: none
}

.title_minibox {
  font: bold 9pt tahoma, lucida, helvetica, sansserif;
  text-align: center;
  background: #878eaf;
  color: #ffffff
}

.text_minibox {
  font: normal 8pt tahoma, lucida, helvetica, sansserif;
  background: #f0f0f9;
  color: #000000
}

.text_minibox A {
  text-decoration: none
}

.dir_even { background-color: #fff; }
.dir_odd { background-color: #ceb; }

.dir_table { border: 1px solid; width: 100%; text-align: center; background-color: #FFFFFF; }
.info { background-color: #f0f0f9; text-align: left; padding: 2%; padding-left: 5%; }
.dir_title { text-align: left; color: #FFFFFF; background-color: #4682B4; }
.error { 
  border-width: 1px;
  color: #505050;
  background: #e2ac7c;
  border-style: dotted;
  border-color: #a57d5b;
}

.foot { color: #FFFFFF; background-color: #878eaf; padding: 10px; padding-left: 20px; }

.text_box_xml {
  font: normal 9pt tahoma, lucida, helvetica, sansserif;
  background: #f0f0f9;
  color: #000000;
  padding: 2%;
  padding-left: 5%;  
  padding-right: 5%;  
}

.content_error { background-color: #F0F0F9; 
  padding: 2%;
  padding-left: 5%;  
}

.f_correct { color: #0000FF; font-family: sans-serif, courier; font-weight: bold;}
.f_incorrect { color: #FF0000; font-family: courier, sans-serif; font-weight: bold; }


/* Inner tables */
.innertable { 
  width: 100%;
}

.innertable .title_box {
  background: #a3a8c2;
  color: #ffffff;
}

.innertable .title_table { 
  background: #bdc1d3;
  color: #333333;
}

.innertable .text_data {
  background: #e1e1ea;
  color: #000000;
  text-align: center;
}
.innertable .text_result {
  background: #e1e1ea;
  color: #000000;
  text-align: center;
}

.innertable .text_percent {
  background: #e1e1ea;
  color: #ff0000;
  text-align: center;
}

/* Positive and negative values */
.pos_value {
  color: #000000;
}

.neg_value {
  color: #ff0000;
}
input.green_value{ 
  background: #f0f0f9;
  border:0;
  text-align:center;
  width:100%;
  color:green;
  font-weight:bold;
  font-style:italic;            
 }
input.red_value{ 
  background: #f0f0f9;
  border:0;
  text-align:center;
  width:100%;
  color:red;
  font-weight:bold;
  font-style:italic;
 }
input.auto_value{ 
  background: #f0f0f9;
border:0;
text-align:center;
width:100%;
 }

/* Link image without border */
a img.noborder 
{  
  border: none;
}