body {
  font: normal 9pt tahoma, lucida, helvetica, sans­serif;
}

A {
  text-decoration: none
}

input, select, textarea {
  border-width: 1px;
  border-style: solid;
  border-color: #878eaf
}

.title {
  font: bold 12pt tahoma, lucida, helvetica, sans­serif;
  text-transform: uppercase;
  text-align: right;
  color: #61667c
}

.msg_fail {
  font: bold 9pt tahoma, lucida, helvetica, sans­serif;
  border-width: 1px;
  color: #505050;
  background: #e2ac7c;
  border-style: dotted;
  border-color: #a57d5b
}

.msg_ok {
  font: bold 9pt tahoma, lucida, helvetica, sans­serif;
  border-width: 1px;
  color: #666666;
  background: #d4e0a6;
  border-style: dotted;
  border-color: #808764
}

.title_box {
  font: bold 10pt tahoma, lucida, helvetica, sans­serif;
  text-align: center;
  background: #878eaf;
  color: #ffffff
}

.text_box {
  font: normal 9pt tahoma, lucida, helvetica, sans­serif;
  background: #f0f0f9;
  color: #000000
}

.text_box A {
  text-decoration: none
}

.title_minibox {
  font: bold 9pt tahoma, lucida, helvetica, sans­serif;
  text-align: center;
  background: #878eaf;
  color: #ffffff
}

.text_minibox {
  font: normal 8pt tahoma, lucida, helvetica, sans­serif;
  background: #f0f0f9;
  color: #000000
}

.text_minibox A {
  text-decoration: none
}


.dir_even { background-color: #fff; }
.dir_odd { background-color: #ceb; }

.dir_table { border: 1px solid; width: 100%; text-align: center; background-color: #FFFFFF; }
.info { background-color: #f0f0f9; text-align: left; padding: 2%; padding-left: 5%; }
.dir_title { text-align: left; color: #FFFFFF; background-color: #4682B4; }
.error { 
  border-width: 1px;
  color: #505050;
  background: #e2ac7c;
  border-style: dotted;
  border-color: #a57d5b;
}

.foot { color: #FFFFFF; background-color: #878eaf; padding: 10px; padding-left: 20px; }

.text_box_xml {
  font: normal 9pt tahoma, lucida, helvetica, sans­serif;
  background: #f0f0f9;
  color: #000000;
  padding: 2%;
  padding-left: 5%;  
  padding-right: 5%;  
}

.content_error { background-color: #F0F0F9; 
  padding: 2%;
  padding-left: 5%;  
}

.f_correct { color: #0000FF; font-family: sans-serif, courier; font-weight: bold;}
.f_incorrect { color: #FF0000; font-family: courier, sans-serif; font-weight: bold; }

