Source: phpreport
Section: web
Priority: extra
Maintainer: Enrique Ocanha <eocanha@igalia.com>
Build-Depends: debhelper (>= 5), debconf (>= 0.5), dbconfig-common
Standards-Version: 3.7.2

Package: phpreport
Architecture: any
Depends: debconf (>= 0.5)
Description: Task time tracker tool written in PHP
 PhpReport tracks tasks performed by a company staff or workgroup and allows
 administrators to launch queries and get statistics about the tasks and time
 spent on each one. This give company managers the proper information to do
 cost analysis and decission making.
