#!/bin/bash
# config maintainer script for phpreport using dbconfig-common

#set -e
#export DEBCONF_DEBUG=developer
#export dbc_debug=1

PKG=phpreport
VERS=1.5
     
# source debconf stuff
. /usr/share/debconf/confmodule

db_version 2.0
db_capb backup

# only ask password, more info:
# (18 Sep 2007) http://community.igalia.com/twiki/bin/view/PhpReport/PackageEnhancement2007Story
db_set debconf/priority high 
#db_set debconf/priority low

db_input high ${PKG}-${VERS}/priority
db_input high ${PKG}-${VERS}/lang
db_go

# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then

    ## if priority > low you can edit values from here
    # more info: (18 Sep 2007) http://community.igalia.com/twiki/bin/view/PhpReport/PackageEnhancement2007Story
    #dbc_dbtypes=pgsql # default value is pgsql
    #dbc_dbname=phpreport14 # default value is package-name-stripped (phpreport15)
    #dbc_dbuser=phpreport14 # default value is package-name-stripped (phpreport15)
    dbc_dbpass=phpreport # 12-characters-random
	
    # source dbconfig-common stuff
    . /usr/share/dbconfig-common/dpkg/config.pgsql

    # For debuging this script only, use dbc_go with configure
    #dbc_go ${PKG}-${VERS} configure $@
    dbc_go ${PKG}-${VERS} $@
fi
